<b ng-show="user.role!='ADMIN'">You are not authorized to view blogs waiting for approval</b>
<div ng-show="user.role=='ADMIN'">
<div class="panel panel-info" >
<div class="panel-heading">
<b>List Of Blogs waiting for Approval</b>
</div>
<div class="panel-body">
<ul style="list-style:none">
<li ng-repeat="blogPost in blogsWaitingForApproval"><!-- approved is false -->
<a><b>Blog Title : {{blogPost.blogTitle}}</b></a><br>
Posted On  : {{blogPost.postedOn | date:'dd-MMM-yyyy hh:mm:ss'}}<br>
Author's Email     :{{blogPost.author.email}}<br>
Posted By  : {{blogPost.author.firstname}} &nbsp; {{blogPost.author.lastname}}
<hr>

</li>
</ul>
</div>
</div>
</div>
